<div class="search-form">
  <div class="container">
    <form method="get" action="">
  <div class="form-group">
    <label for="exampleInputEmail1" id="search-input" >Từ Khóa</label>
    <input type="text" name="demo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
   
  </div>
  
  
  <button type="submit" class="btn btn-primary">Search</button>
</form>
  </div>
</div>